.card {
  margin: auto;
  transition: all 1s;
  cursor: pointer;
}

.card:hover {
  box-shadow: 10px 10px 15px rgb(0 0 0 / 70%);
  transition: all 1s;
}

.card-body {
  background-color: rgb(0, 0, 0);
  color:white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addIcon {
  cursor: pointer;
  position: absolute;
  right: 0;
}
