.card {
  margin: auto;
  transition: all 1s;
}

.card:hover {
  box-shadow: 10px 10px 15px rgb(0 0 0 / 70%);
  transition: all 1s;
}

.card-body {
  background-color: rgb(0, 0, 0);
  color:white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addIcon {
  cursor: pointer;
  position: absolute;
  float: right;
  color: black;
  background-color: rgba(107, 107, 107, 0.4);
  border-radius: 10px;
  width: 25px;
  height: 25px;
  right: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
}
